@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* FIXXXX this! */
:root {
  --font-color-a: #303438;
  --font-color-b: #363a3e;
  --font-color-c: #8e9296;

  --dark-color-a: #292840;
  --dark-color-b: #363a3e;
  --dark-color-c: #1c1c29;

  --border-color: #2a2a2e;

  --light-color-primary: #7189da;
  --light-color-secondary: #2a5ee7;

  --success-color: #2edfb3;
  --error-color: #ef6766;
}

/*********
  GLOBAL
**********/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
  /* background: radial-gradient(ellipse at bottom, #363a3e 0%, #2a2a2e 100%); */
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  background: radial-gradient(ellipse at bottom, #363a3e 0%, #090a0f 100%);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  overscroll-behavior: none;
  overflow: hidden;
}

.btn {
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #e6e9ff;
  outline: none;
  border: none;
  cursor: pointer;
}

/*********
  JOIN PAGE
**********/
.container {
  height: 100vh;
}

.join-header {
  text-align: center;
  padding-top: 12rem;
  color: #fff;
  font-size: 1.2rem;
}

.join-header h1 {
  background: -webkit-linear-gradient(#fff, #8e9296);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
}

.join-container {
  position: relative;
  z-index: 10;
  max-width: 40rem;
  margin: 5rem auto;
  color: #fff;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
}

.join-main {
  padding: 3rem 4rem;
  background-color: var(--dark-color-b);
  font-size: 1.1rem;
  border-radius: 0.5rem;
}

.join-main p {
  margin-bottom: 2rem;
}

.join-main .form-control {
  margin-bottom: 2rem;
}

.join-main label {
  display: block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--font-color-c);
}

.join-main input[type="text"] {
  color: #fff;
  padding: 0.5rem;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  outline: none;
  /* background-color: var(--font-color-a); */
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid var(--border-color);
  border-radius: 0.3rem;
}

.join-main select {
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  height: 3rem;
  width: 100%;
  outline: none;
  /* background-color: var(--font-color-a); */
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid var(--border-color);
  border-radius: 0.3rem;
}

.join-main input[type="text"]:focus,
.join-main select:focus {
  /* outline: 1px solid var(--light-color-primary); */
  box-shadow: 0 0 2px 2px var(--light-color-primary);
  border: none;
}

.join-main .btn {
  margin-top: 2rem;
  width: 100%;
  font-size: 1.1rem;
  background-color: var(--light-color-primary);
  color: #fff;
  border-radius: 0.2rem;
  transition: background-color 0.2s;
}

.join-main .btn:hover {
  background-color: #7189dac4;
}

/*********
  CHAT ROOM
**********/
.chat-container {
  position: relative;
  z-index: 10;
  max-width: 70rem;
  background-color: #fff;
  margin: 3rem auto;
  overflow: hidden;
  /* background-color: var(--dark-color-b); */
  background-color: var(--dark-color-c);
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
}

.chat-header h1 {
  background: -webkit-linear-gradient(#fff, #8e9296);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  padding: 2rem;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  position: relative;
  height: 40rem;
  /* background-color: var(--dark-color-b); */
  background-color: var(--dark-color-c);
  color: #fff;
  padding: 2rem;
  border-right: 1px solid var(--border-color);
}

.chat-sidebar .btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 60%;
  font-size: 1.1rem;
  background-color: var(--light-color-primary);
  border-radius: 0.2rem;
  color: #fff;
}

.chat-sidebar .btn:hover {
  background-color: #7189dac4;
}

.chat-sidebar h2 {
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000;
  letter-spacing: 0.2rem;
}

.chat-sidebar h3 {
  margin-bottom: 0.5rem;
}

.chat-sidebar ul {
  height: 20rem;
  overflow-y: scroll;
}

.chat-sidebar ul li {
  list-style: none;
  padding: 0.8rem;
  display: block;
  width: 100%;
}

.chat-window {
  position: relative;
}

.chat-messages {
  position: absolute;
  padding: 3rem 3rem 2rem;
  height: 86%;
  width: 100%;
  max-height: 40rem;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.2);
}

.chat-messages .message {
  padding: 1rem;
  margin-bottom: 1.1rem;
  background-color: var(--dark-color-a);
  border-radius: 0.5rem;
  color: #fff;
}

.chat-messages .message .meta {
  font-weight: bold;
  font-size: 0.9rem;
  opacity: 0.7;
  margin-bottom: 0.7rem;
}

.chat-messages .message .meta span {
  font-size: 0.8rem;
}

.chat-form-container {
  padding: 1.3rem 3rem;
  background-color: var(--dark-color-a);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.chat-form-container form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.chat-form-container input[type="text"] {
  font-size: 1.5rem;
  padding: 0.5rem;
  height: 3rem;
  flex: 1;
  outline: none;
}

.chat-form-container .btn {
  height: 3rem;
}

/*********
  MEDIA QUERY
**********/
@media only screen and (max-width: 768px) {
  .chat-container {
    width: 40rem;
  }

  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
